@import "tailwindcss";

/* 🔥 WAJIB untuk dark mode manual */
@custom-variant dark (&:where(.dark, .dark *));

/* FONT */
@font-face {
  font-family: 'Barlow';
  src: url('/fonts/Barlow-Regular.ttf');
  font-weight: 400;
}

/* Poppins Regular */
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Regular.ttf');
  font-weight: 400;
}

/* 🔥 TAMBAHKAN INI (WAJIB BIAR TEBAL) */
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-ExtraBold.ttf');
  font-weight: 800;
}

/* THEME */
@theme {
  --font-barlow: "Barlow", sans-serif;
  --font-poppins: "Poppins", sans-serif;

  --color-latar: #f3f4f6;
  --color-teks: #374151; 
  --color-teks-samping: #6b7280;
  --color-garis: #e5e7eb; 
  --color-hijau: #00B074; 
  --color-merah: #ef4444; 
  --color-biru: #3b82f6;
  --color-kuning: #f59e0b; 
}

/* GLOBAL */
body {
  @apply font-barlow;
}